h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: blue;
    padding-top: 65px;
}

.direction,
.results,
.score,
.whoWins {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 65px;
}

button {
    background-color: orange;
    border-radius: 12px;
    font-size: 40px;
    padding: 14px;
    width: 212px;
    height: 78px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 65px;
    padding-bottom: 55px;
}